<div class="task position-relative">
  <div class="task-head">
    <h1>List tasks</h1>
  </div>
  <div class="task-body"></div>
  <div class="task-footer position-absolute w-100 p-2">
    <button pButton pRipple>
      <div class="d-flex gap-2 task-footer-btn">
        <fa-icon
          [icon]="faPlus"
          classe="task-footer-btn__icon p-2 br-round bg-white text-primary "
        ></fa-icon>
        <span class="task-footer-btn__text">Add task</span>
      </div>
    </button>
  </div>
</div>

