<div class="task px-lg-5 position-relative pt-5">
  <div class="task-head mb-5 mt-5 mt-lg-0">
    <h1 class="fw-bold text-capitalize">List tasks</h1>
    <span class="text-gray">{{ currentDate | date : "dd/MM/yyyy" }} </span>
  </div>
  <ng-scrollbar class="p-3" appearance="compact">
    <div class="task-body p-lg-3 p-2">
      <div class="task-body-list d-flex flex-column gap-5">
        <div class="mb-4 d-flex flex-column gap-3">
          <div
            class="task-body-list-item bg-white text-primary border-primary ps-0"
            *ngFor="let task of listTaskUnDone; index as i; trackBy: trackByFn"
          >
            <div
              *ngIf="!task.completed"
              class="task-body-list-item__inner d-flex flex-column flex-lg-row gap-3 px-3 justify-content-between px-3 py-2 br-12"
            >
              <div
                class="d-flex align-items-lg-center flex-column flex-lg-row gap-3"
              >
                <p-checkbox
                  class="d-block"
                  [binary]="true"
                  inputId="binary"
                  (click)="onDoneTask(task._id)"
                ></p-checkbox>
                <span
                  [style.background]="task.color"
                  class="task-body-list-item__title px-4 py-1 br-round text-white text-capitalize"
                  >{{ task.title }}</span
                >
                <strong [style.color]="task.color" class="d-none d-lg-block"
                  >|</strong
                >
                <span
                  [style.background]="task.color"
                  class="px-4 py-1 br-round text-white flex-center-y gap-2 w-fit-content"
                >
                  <app-icon name="faClock"></app-icon>
                  exprise in {{ task.exprise | TimeAgo }}</span
                >
                <strong
                  [style.color]="task.color"
                  class="d-none d-lg-block"
                  *ngIf="task.files.length > 0"
                  >|</strong
                >
                <span
                  pRipple
                  [style.background]="task.color"
                  *ngIf="task.files.length > 0"
                  class="px-4 py-1 br-round text-white flex-center-y gap-2 w-fit-content"
                  (click)="showGalleryImages(task.files); op.toggle($event)"
                >
                  <app-icon name="faFile"></app-icon>
                  {{ task.files.length }} files
                </span>
              </div>
              <div class="d-flex gap-3">
                <div
                  (click)="showAddTaskDialog('edit', task)"
                  class="task-body-list-item__btn p-3 br-round flex-center bg-secondary text-white"
                >
                  <app-icon name="faPenToSquare" [size]="13"></app-icon>
                </div>
                <div
                  class="task-body-list-item__btn p-3 br-round flex-center bg-danger text-white"
                  (click)="deleteTaskByID(task._id)"
                >
                  <app-icon name="faTrash" [size]="13"></app-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex flex-column gap-3">
          <div
            class="task-body-list-item bg-white text-primary border-primary ps-0"
            *ngFor="let task of listTaskDone; index as i; trackBy: trackByFn"
          >
            <div
              *ngIf="task.completed"
              class="task-body-list-item__inner d-flex gap-3 px-3 justify-content-between px-3 py-2 br-12"
            >
              <div class="flex-center-y gap-3">
                <p-checkbox
                  [binary]="true"
                  inputId="binary"
                  (click)="onUnDoneTask(task._id)"
                  [ngModel]="true"
                ></p-checkbox>
                <span
                  [style.background]="task.color"
                  class="task-body-list-item__title px-4 py-1 br-round text-white text-capitalize"
                  >{{ task.title }}</span
                >
                <strong [style.color]="task.color">|</strong>
                <span
                  [style.background]="task.color"
                  class="px-4 py-1 br-round text-white flex-center-y gap-2"
                >
                  <app-icon name="faClock"></app-icon>
                  exprise in {{ task.exprise | TimeAgo }}</span
                >
                <strong [style.color]="task.color" *ngIf="task.files.length > 0"
                  >|</strong
                >
                <span
                  pRipple
                  [style.background]="task.color"
                  *ngIf="task.files.length > 0"
                  class="px-4 py-1 br-round text-white flex-center-y gap-2 w-fit-content"
                  (click)="showGalleryImages(task.files); op.toggle($event)"
                >
                  <app-icon name="faFile"></app-icon>
                  {{ task.files.length }} files
                </span>
              </div>
              <div class="d-flex gap-3">
                <div
                  class="task-body-list-item__btn p-3 br-round flex-center bg-secondary text-white cursor-pointer"
                >
                  <app-icon name="faPenToSquare" [size]="13"></app-icon>
                </div>
                <div
                  class="task-body-list-item__btn p-3 br-round flex-center bg-danger text-white cursor-pointer"
                  (click)="deleteTaskByID(task._id)"
                >
                  <app-icon name="faTrash" [size]="13"></app-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-scrollbar>
  <div class="task-footer w-100 py-2 mt-2">
    <button pButton pRipple (click)="showAddTaskDialog('add', null)">
      <div class="d-flex gap-2 task-footer-btn">
        <app-icon
          className="task-footer-btn__icon p-2 br-round bg-white text-primary"
          name="faPlus"
        ></app-icon>
        <span class="task-footer-btn__text">Add a task</span>
      </div>
    </button>

    <p-dialog
      header="Header"
      [(visible)]="isShowAddTaskDialog"
      [style]="{ width: '50vw' }"
      [modal]="true"
      [dismissableMask]="true"
      (onHide)="closeAddTaskDialog()"
      class="task-footer-modal"
    >
      <ng-template pTemplate="header" class="bg-primary">
        <h3 class="text-xl font-bold text-capitalize">{{ headingDialog }}</h3>
      </ng-template>
      <div class="d-flex gap-3 flex-column task-footer-modal-body">
        <span class="p-float-label mt-4">
          <input
            pInputText
            pAutoFocus
            [autofocus]="true"
            id="taskName"
            [(ngModel)]="taskName"
          />
          <label htmlFor="taskName">Your task name</label>
        </span>
        <p-calendar
          [showButtonBar]="true"
          [(ngModel)]="taskDate"
          [showTime]="true"
          [showSeconds]="true"
          class="d-block w-100"
          [showIcon]="true"
          [keepInvalid]="true"
          [readonlyInput]="true"
        ></p-calendar>
        <div class="d-flex justify-content-between">
          <div class="task-footer-modal-body-colors d-flex gap-3 py-2">
            <div
              *ngFor="let color of listTaskColors"
              [style.background]="color"
              class="task-footer-modal-body-colors-color br-8 bxs-1"
              (click)="setTaskColor(color)"
            ></div>
          </div>

          <div class="flex-center-y gap-3">
            <strong>Your color</strong>
            <div
              [style.background]="taskColor"
              class="task-footer-modal-body-colors-color br-8 bxs-1"
            ></div>
          </div>
        </div>

        <strong *ngIf="!isAdd && oldFilesSelected.length > 0">Old files</strong>
        <strong *ngIf="!isAdd && oldFilesSelected.length === 0"
          >No files in this task</strong
        >
        <ng-scrollbar style="height: 105px" *ngIf="!isAdd">
          <div class="task-footer-modal-body-imgs row">
            <div
              class="col-lg-3 mb-lg-3"
              *ngFor="let file of oldFilesSelected; index as i"
            >
              <div
                class="task-footer-modal-body-imgs-img bxs-1 br-8 overflow-hidden"
              >
                <div
                  class="task-footer-modal-body-imgs-img-trash bxs-1 bg-white p-2 br-round text-dark flex-center cursor-pointer"
                  (click)="chooseOldFileDeleted(file, i)"
                >
                  <app-icon name="faTrash" [size]="13"></app-icon>
                </div>
                <img
                  class="br-8"
                  alt=""
                  [src]="apiBackendRoot + 'tasks/' + file"
                  src-fallback="../../assets/images/files/file.png"
                />
              </div>
            </div>
          </div>
        </ng-scrollbar>

        <div class="d-flex gap-3">
          <p-fileUpload
            #fileUpload
            mode="basic"
            name="file"
            chooseLabel="Choose files"
            [multiple]="true"
            [fileLimit]="3"
            (onSelect)="selectFileTasks($event)"
          >
          </p-fileUpload>
          <button
            pButton
            pRipple
            label="Reset files"
            (click)="clearTaskFiles()"
          ></button>
        </div>
        <strong *ngIf="!isAdd && filesSelected.length > 0">New files</strong>
        <ng-scrollbar
          class="task-footer-modal-body-scrollbar"
          style="height: 95px"
        >
          <div class="task-footer-modal-body-imgs row">
            <div
              class="col-lg-3 mb-lg-3"
              *ngFor="let file of filesSelected; index as i"
            >
              <div
                class="task-footer-modal-body-imgs-img bxs-1 br-8 overflow-hidden"
              >
                <div
                  class="task-footer-modal-body-imgs-img-trash p-2 br-round bxs-1 bg-white flex-center text-dark"
                  (click)="deleteImgSelected(i)"
                >
                  <app-icon name="faTrash" [size]="13"></app-icon>
                </div>
                <img
                  class=""
                  alt=""
                  [src]="file.objectURL.changingThisBreaksApplicationSecurity"
                />
              </div>
              <div class="flex-center-y justify-content-between">
                <strong>img_{{ i + 1 }}</strong>
                <span>
                  {{ file.size | FileSize }}
                </span>
              </div>
            </div>
          </div>
        </ng-scrollbar>
      </div>

      <ng-template pTemplate="footer" class="task-footer-modal-footer">
        <div class="d-flex gap-3">
          <button
            pButton
            pRipple
            class="flex-center gap-2 w-100 p-button-outlined m-0 task-footer-modal-footer-btn"
            (click)="resetTaskDialog()"
          >
            <div class="fw-7">Reset</div>
            <i class="pi pi-times fw-7"></i>
          </button>
          <button
            pButton
            pRipple
            class="flex-center gap-2 w-100 m-0 task-footer-modal-footer-btn bg-primary text-white"
            (click)="handleForm()"
          >
            <div class="fw-7">OK</div>
            <i class="pi pi-check fw-7"></i>
          </button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>
<p-toast
  [breakpoints]="{
    '920px': { width: '80%', left: '50%', transform: 'translateX(-50%)' }
  }"
></p-toast>

<p-overlayPanel #op>
  <swiper [config]="config" class="p-3" style="width: 300px; height: 200px">
    >
    <ng-template swiperSlide *ngFor="let img of listImageViews">
      <img
        style="width: 280px; height: 180px; object-fit: cover"
        [src]="img"
        alt=""
      />
    </ng-template>
  </swiper>
</p-overlayPanel>
