<div class="container-fluid">
  <div class="home">
    <div class="row home-inner h-100">
      <div
        class="home-inner-bars d-flex justify-content-between align-items-center d-lg-none pt-lg-0 pt-2"
      >
        <p-speedDial
          [model]="menuItems"
          direction="down"
          showIcon="pi pi-bars"
          hideIcon="pi pi-times"
        ></p-speedDial>
        <div
          class="home-inner-main-head-user d-flex gap-3 align-items-center pt-5"
        >
          <!-- <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            <fa-icon [icon]="faBell"></fa-icon> -->
          <div class="home-inner-main-head-user-info d-flex flex-column gap-1">
            <strong>Nguyen Anh Tuan</strong>
            <span class="text-gray">demo@gmail.com</span>
          </div>
          <img
            width="45"
            src="../../assets/images/avatars/tuan.jpg"
            alt=""
            class="br-round"
          />
        </div>
      </div>
      <div class="d-lg-none d-block"></div>
      <div class="home-inner-menu d-none d-lg-block col-lg-2 px-0">
        <app-menu></app-menu>
      </div>
      <div class="col-12 col-lg-10 home-inner-main px-lg-5 px-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
