<div class="container-fluid">
  <div class="home">
    <div class="row home-inner h-100">
      <div
        class="home-inner-bars d-flex justify-content-between align-items-center d-lg-none pt-lg-0 pt-2"
      >
        <p-speedDial
          [model]="menuItems"
          direction="down"
          showIcon="pi pi-bars"
          hideIcon="pi pi-times"
        ></p-speedDial>
      </div>
      <div class="d-lg-none d-block"></div>
      <div class="home-inner-menu d-none d-lg-block col-lg-2 px-0">
        <app-menu></app-menu>
      </div>
      <div class="col-12 col-lg-10 home-inner-main px-lg-5 px-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
