.home {
  height: 100vh;
  &-inner {
    &-bars {
      i {
        font-size: 30px;
      }
    }
    &-menu {
    }
    &-main {
      padding-top: 30px;
      &-head {
        &-text {
          h1 {
            font-size: 28px;
            font-weight: bold;
            line-height: 40px;
          }
          span {
            font-size: 14px;
            line-height: 19px;
          }
        }
        &-user {
          &-info {
            strong {
            }
            span {
              font-size: 14px;
            }
          }
          &-avatar{
            width: 45px;
            height: 45px;
          }
          img {
            border: 3px solid var(--bs-primary);
          }
        }
      }
      &-weather {
        &-chart {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        h2 {
          font-size: 20px;
        }
        &-cards {
          &-card {
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            &-item {
              background: rgba(255, 255, 255, 0.2);
              border-radius: 16px;
              box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
              backdrop-filter: blur(5px);
              -webkit-backdrop-filter: blur(5px);
              border: 1px solid rgba(255, 255, 255, 0.3);
              user-select: none;
              &__time {
                font-size: 17px;
              }
              &__tempc {
                font-size: 24px;
              }
              &__text {
                font-size: 15px;
              }
            }
            &__btn {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              z-index: 2;
              border-radius: 50px;
              box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
              width: 30px;
              height: 30px;
              &-left {
                left: 0;
                transform: translateX(-50%);
              }
              &-right {
                right: 0;
                transform: translateX(50%);
              }
            }
          }
        }
      }
    }
  }
}

.chart-container {
  display: block;
  width: auto;
  min-height: 254px;
}

#MyChart {
  min-height: 456px;
}

@media screen and (max-width: 992px) {
  #MyChart {
    min-height: 300px;
  }
  .home {
    &-inner {
      &-main {
        padding-top: 90px;
        &-weather {
          &-cards {
            &-card {
              &-item {
                &__tempc {
                  font-size: 20px;
                }
                &__time {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}
