<form
  [formGroup]="loginForm"
  class="login-right-form gap-3 br-12 p-3 text-center d-flex flex-column m-auto"
>
  <h2 class="text-uppercase fw-7 mb-5">to do app login</h2>
  <div class="login-right-form-avatar mx-auto mb-3">
    <img src="../../assets/images/avatars/avatar.svg" alt="" />
  </div>
  <form
    class="login-right-form-item flex-center-x my-3"
    [formGroup]="loginForm"
  >
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-user"></i>
      <input
        pInputText
        pAutoFocus
        [autofocus]="isAutoFocusUsername"
        id="username"
        formControlName="username"
      />
      <label htmlFor="username">Username</label>
      <input id="username" class="d-none" />
    </span>
  </form>

  <form class="login-right-form-item flex-center-x" [formGroup]="loginForm">
    <span class="p-float-label">
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        formControlName="password"
        pAutoFocus
        [autofocus]="isAutoFocusPassword"
      ></p-password>
      <label for="password">Password</label>
    </span>
  </form>

  <button
    pButton
    pRipple
    label="Login Now"
    class="btn btn-primary login-right-form-submit mt-4"
    [loading]="loading"
    type="button"
    (click)="handleLogin()"
  ></button>

  <div class="d-flex flex-column">
    <span class="mb-2">Or login with</span>
    <div
      id="g_id_onload"
      data-client_id="57178918226-rk75u2a5tl255sv4l0jtv857nqhfulob.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="http://localhost:8000/v1/api/auth/login-google"
      data-itp_support="true"
    ></div>
    <div
      class="g_id_signin mx-auto"
      data-type="icon"
      data-shape="circle"
      data-theme="outline"
      data-text="signup_with"
      data-size="large"
    ></div>
  </div>
  <div class="d-flex gap-2 mx-auto">
    <span>Don't have account ?</span>
    <!-- <a routerLink="/auth/sign-up">Create now</a> -->
    <a href="/auth/sign-up">Create now</a>
  </div>
  <!-- <button
    routerLink="/auth/sign-up"
    pButton
    pRipple
    label="Or Sign Up"
    class="p-button"
    type="button"
  ></button> -->
</form>
<p-toast
  [breakpoints]="{
    '920px': { width: '80%', left: '50%', transform: 'translateX(-50%)' }
  }"
></p-toast>
