<div class="menu py-2 py-lg-5 h-100 bg-primary text-white">
  <div
    class="menu-inner p-0 d-flex flex-column justify-content-between gap-1 h-100 pt-lg-3"
  >
    <!-- <p-menu [model]="items"></p-menu> -->

    <div class="d-flex flex-column gap-5">
      <div
        class="ps-4 p-2 menu-inner-logo d-flex gap-2 align-items-center mx-4"
      >
        <img src="../../assets/images/logos/logo.svg" alt="" />
        <span class="text-capitalize">to do app</span>
      </div>
      <ul class="menu-inner-list d-flex flex-column gap-2 ps-4">
        <li
          class="menu-inner-list-item d-flex py-3 ps-4"
          pRipple
          *ngFor="let item of menuItemsTop"
          routerLink="{{ item.routerLink }}"
          routerLinkActive="menu-inner-list-item__active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="dot"></div>
          <div class="menu-inner-list-item__icon">
            <fa-icon [icon]="item.icon"></fa-icon>
          </div>
          <span class="fw-5">{{ item.label }}</span>
        </li>
      </ul>
    </div>
    <div class="menu-inner-list d-flex flex-column gap-2 ps-4">
      <div
        class="menu-inner-list-item d-flex py-3 ps-4"
        pRipple
        *ngFor="let item of menuItemsBottom"
        (click)="item?.click()"
      >
        <div class="menu-inner-list-item__icon">
          <fa-icon [icon]="item.icon"></fa-icon>
        </div>
        <span class="fw-5">{{ item.label }}</span>
      </div>
    </div>
  </div>
</div>
<p-toast
  [breakpoints]="{
    '920px': { width: '80%', left: '50%', transform: 'translateX(-50%)' }
  }"
></p-toast>

<p-confirmDialog
  [breakpoints]="{ '920px': '90vw' }"
  #cd
  [style]="{ width: '50vw' }"
  [closable]="false"
  [dismissableMask]="true"
>
  <ng-template>
    <button
      type="button"
      pButton
      pRipple
      icon="pi pi-times"
      label="No"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      pRipple
      icon="pi pi-check"
      label="Yes"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
