.menu {
  position: relative;

  &-inner {
    &-logo{
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
    &-list {
      &-item {
        cursor: pointer;

        & * {
          user-select: none;
        }
        &__icon {
          width: 32px;
          cursor: pointer;
        }
        &__active {
          position: relative;
          color: var(--bs-primary) !important;
          background-color: var(--bs-white);
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          list-style: none;
          z-index: 1;
          .dot{
            content: "";
            position: absolute;
            right: 0;
            top: -50px;
            width: 50px;
            height: 50px;
            background-color: red;
            border-radius: 50%;
            box-shadow: 35px 35px 0 10px var(--bs-white);
            pointer-events: none;
            z-index: 2;
          }

          &::before {
            content: "";
            position: absolute;
            right: 0;
            top: -50px;
            width: 50px;
            height: 50px;
            background-color: transparent;
            border-radius: 50%;
            box-shadow: 35px 35px 0 10px var(--bs-white);
            pointer-events: none;
            z-index: 2;
          }
        }
      }
    }
  }
}
