<div class="login flex-center-y">
  <!-- <img src="../../assets/images/backgrounds/background_2.svg" alt="" class="login-background"> -->
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-lg-6 login-left d-none d-lg-flex align-items-lg-center justify-content-lg-center"
      >
        <div class="login-left-background">
          <img src="../../assets/images/backgrounds/background.svg" alt="" />
        </div>
      </div>
      <div class="col-12 col-lg-6 login-right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
